{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>About This Application</h1>
        <p>This is a simple Flask application that demonstrates the use of Jinja templates.</p>
        <p>The application structure follows best practices for organizing Flask projects:</p>
        <ul>
            <li>Templates are stored in the <code>templates</code> folder</li>
            <li>Static files (CSS, JS) are stored in the <code>static</code> folder</li>
            <li>Routes are defined in the main application file</li>
        </ul>
    </div>
{% endblock %}